# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Node modules (if you ever use npm)
node_modules/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# MongoDB dump files
dump/